# create by https://github.com/iamcco/coc-gitignore (Mon Apr 13 2020 09:16:17 GMT-0500 (hora estándar de Perú))
# ArchLinuxPackages.gitignore:
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

integer*
